@CHARSET "ISO-8859-1";

#card{
	margin-left: 35%;
	margin-top: 1%;
}
body{
	background-color: #041A27;
}

#figura1{
	margin: -50% 0 10% 10%;
}
#figura2{
	margin: -50% 0 10% 40%;
}
#teste{
	margin-left: 40%;
}