@CHARSET "ISO-8859-1";
*{
	margin: 0;
	padding: 0;
}
#form h3{
	font-family: sans-serif;
	margin-left: 35%;
	margin-top: 5%;
	margin-bottom: 5%;
}
#form button{
	margin: 5% 0 5% 38%;
}
button{
	width: 20%;
	height: 4em;
	background-color: #ef5350;
}
#form{
	width: 45%;
	height: 10em;
	margin-left: 25%;
	background-color: #ba68c8;
}